/*article 1*/
article{
  color: #000000;
  font-size: 4rem;
}
article h1{
  font-size:70%;
}

article p{
  font-size: 50%;
}

article button{
  text-align: center;
  display: block;
  margin: auto;
  font-family: "Fredoka One", serif;
appearance: none;
background-color: var(--main-color-sun);
border-radius: 24px;
border-style: none;
box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
color: #3c4043;
cursor: pointer;
font-size: 14px;
font-weight: 500;
height: 48px;
line-height: normal;
max-width: 100%;
padding: 2px 24px;
width: auto;
}

article button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

article:first-child button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

article:first-child button:focus {
  outline: none;
  border: 2px solid #4285f4;
}
/*all articles*/

img{
  max-width: 100%;
}