@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@font-face {
  font-family: "rockwell";
  src: url("../src/fonts/rockwell.otf") format("otf");
}

html{
  font-size: 62.5%;
}
body {
  font-family: "Rockwell", serif;
  margin: 0;
}
:root{
  --main-color: #0ba08b;
  --main-color-flying: #00bee6;
  --main-color-sport: #0099f4;
  --main-color-food: #ea6060;
  --main-color-fashion : #ff419d;
  --main-color-house: #e28600;
  --main-color-sun : #ffd365;
}
.contain{
  padding: 0 5%;
}