/* Header start */

.header {
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 5% 0 5% 0;
}
.header a:first-child{
  width: 7%;
}
.header a{
  width: 33%;
}
.header a img{
  width: 100%;
}

.container-4{
  width: 34%;
  vertical-align: middle;
  white-space: nowrap;
}

.container-4 input#search{
  width: 75%;
  height: 3rem;
  background: white;
  border: none;
  font-size: 10pt;
  float: left;
  color: #000000;
  padding-left: 15px;
  border-radius: 5px;
}

.container-4 button.icon{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background: var(--main-color-sun);
  height: 3rem;
  width: 3.5rem;
  font-size: 10pt;
  outline: none;
  margin-left: -3%;
  transition: all .55s ease;
}

.container-4:hover button.icon:hover{
  background: white;
}
.icon img{
  height: 50%;
}
/* Header end */