footer{
    background: var(--main-color);
}

.category-box{
    opacity: 0;
    position: absolute;
    left: -1000rem;
}

.category-section ul{
    margin: 0;
}
.category-box:checked{
    height: auto;
}